.dashboard_body {
  background-color: #fff;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: center;
}
.dashboard_container_1 {
  width: 15%;
  background-color: #000;
  text-align: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 12px;
  height: auto;
}

.container_1_header {
  border-bottom: 1px solid grey;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  display: flex;
  align-items: center;
}
.container_1_body {
  width: 100%;
}
.container_1_list_items {
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 5%;
}
.list_items {
  width: 100%;
  list-style: none;
  padding: 0;
}

.list_items > li {
  margin: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list_item {
  width: 50%;
  display: flex;
  align-items: center;
}
.list_item > small {
  text-align: right;
}
.dashboard_container_2 {
  width: 30%;
  height: auto;
  border-radius: 12px;
  border: 1px solid #fff;
  text-align: center;
  background-color: #000;
}
.dashboard_container_3 {
  border: 1px solid #fff;
  border-radius: 12px;
  height: auto;
  width: 55%;
  text-align: center;
  background-color: #000;
}
